.page{
background-color : #AFB3B7;



background-size: 1200px 800px;
}
.page1{
background-color : black;

background-size: 1200px 800px;
}
.logo{
padding :0px;
margin : 0px;
}

.info{

height:30px;
background-color:grey;
margin:0px;
color:gold;
display:flex;
justify-content :left;
align-items:center;
border-radius:30px;
#border:1px solid gold;


}
.imageholder{

}

.card{
width : 110px;
height : 130px;
margin-top:30px;
margin-left:30px;

padding : 15px;
background-color:#484848;
border-radius: 20px;
box-shadow : 0 0 30px 	#181818;
border:1px solid gold;
}
.image{

margin-top:15px

}
.image1{
height:80px;
margin-top:15px

}
.card:hover{
transform : scale(1.03);
box-shadow : 0 0 10px #ffffcc;
}
.text{

color:	 #cccc00;
}
a {
text-decoration : none;
color:gold;
}
.set{
display:flex;}



.filter-bar  {
background-color : #54626F;
border-radius: 10px;
width : 300px;
padding:10px;
margin-right:20px;
}


.filter-bar a  {
background-color :  #54626F;
border-radius: 4px;
margin-top:10px;
margin-left:20px;
color : white;
}



.home{
display:flex;
background-color : #36454F;
padding-top : 8px;
border-radius: 10px;
justify-content :left;
padding-left : 8px;

}

.home a {
color : white;
}

.filter-bar input , select , a {
border-radius: 6px;
padding:5px;
margin-left: 10px;
font-weight: bold ;
}



.nav-bar{
display:flex;
background-color: #2d4A53;
margin:10px;
padding: 10px;
border-radius: 10px;
justify-content: right;
padding-right:40px;
}

.home {

background-color:  #54626F;
padding:10px;
color:white;

}



.user_info{
background-color: #E2DFD2;
width:500px;
height : 280px;
border-radius: 40px;
margin-left: 80px;
margin-top: 50px;
padding-top:30px;
}

.user_info label {
margin-left: 40px;
margin-right: 10px;
margin-bottom : 200px;
font-weight: bold;
border-radius: 40px;
}


.user_info input , select ,option  {

font-weight: bold;
border-radius: 40px;

}

.table {
width: 90%;
margin-top:30px;
margin-left:50px;
margin-right:50px;
border-collapse: collapse;
font-family: Arial, sans-serif;

}

th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #ddd;
}

/* Style the table rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Style the table cells (td) */
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Add hover effect to table rows */
tr:hover {
    background-color: #ddd;
     transform: scale(1.05);
}