{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta  charset="UTF-8" name="viewport" content=" initial-scale= 0.6">
    <title>Welcome Home!</title>
    <link rel="stylesheet" href="{% static 'inout_static/outward_styles.css' %}">

</head>
<body class="page">

<div class="nav-bar">
    <div class = "home">

</div>
<!--<a class = 'nav-bar-text' href="https://www.example.com" >Home</a>-->
    <div class = "filter-bar">
        <a href="/update_stock_form/" > Add Stock Items</a>
         <a href="/update_stock_form/"> View Stock Items</a>
    </div>

     <div class = "filter-bar">
        <a href="/update_outwards_form/"> Add Out Items</a>
         <a href="/update_stock_form/"> View Out Items</a>
    </div>

       <a href="/index/" id="home" >Home</a>

</div>


<form method="POST" action = '/save_stock_data/'>
    {% csrf_token %}

<div class = 'user_info'>
    <h4>Customer details</h4>
    <div class = 'iv_space'>
    <label >Godown</label>
        <select name = 'godown'>
        {% for i in godowns %}
        <option value={{i}}>{{i}}</option>
        {% endfor %}
            </select>
    </div>
    <div class = 'iv_space' >
    <label>Customer name:   </label>
    <input type = 'text'  name = 'customer' placeholder="  customer name">
    </div>
     <div class = 'iv_space' >
    <label>Area</label>
    <input type = 'text' name = 'Area' placeholder="  Area">
    </div>
     <div class = 'iv_space' >
    <label>ph number:   </label>
    <input type = 'number'  name = 'phone_num' placeholder="  phone number:">
    </div>

     <div class = 'iv_space' >
    <label>Truck No:  </label>
    <input type = 'text'  name = 'Truck_num' placeholder="  Truck number:">
    </div>



</div>

<div class = product_details id="container">
     <button type="button" id="createDivButton">Add Record</button>
    <input id="rec_count"  name = 'count'></input>
</div>
<div class = "gst">
     <h4>Price & GST details</h4>
    <div class = 'iv_space' >
    <label>Total Price   </label>
    <input type = 'text' style="width:100px;" name = 'Amount'  id="L1" placeholder="Total Amount">
<!--        <button  type="button" id="B1" >Calculate</button>-->



        <label>Amount Payed   </label>
    <input type = 'text'  name = 'Payed' placeholder="Payed">
    </div>
    <div class = 'check_box' >
    <input type = 'checkbox' name = 'egst' id="egst" >
        <label>18% GST   </label>
    </div>

    <div class = 'check_box' >
    <input type = 'checkbox' name = 'tgst' id="tgst" >
        <label>28% GST   </label>
    </div>

        <input type = submit id="submit_1">
    </div>





</div>

</form>





<!--prouct etails-->


<!--{% for i in data %}-->
<!--<div class = "imageholder" >-->

<!--    <div class="info">&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp{{i.4}}&nbsp &nbsp &nbsp{{i.3}}</div>-->
<!--        <img class = "pics" src= "{{i.2.url}}"  width="{{i.0}}" height="{{i.1}}">-->
<!--        {% if i.5 != 'default.png'%}-->
<!--        <img class = "pics" src= "{{i.5.url}}"  width="{{i.0}}" height="{{i.1}}">-->
<!--        {% else %}-->
<!--        {% endif %}-->
<!--    </div>-->
<!--{% endfor %}-->
</body>
</html>

<script>
 let count = 0
document.addEventListener("DOMContentLoaded", function () {
    var createDivButton = document.getElementById("createDivButton");
    var container = document.getElementById("container");
     var myLabel = document.getElementById("rec_count");
     var cal = document.getElementById("B1");
     var output_sum = document.getElementById("L1");


    var checkbox1 = document.getElementById("egst");
    var checkbox2 = document.getElementById("tgst");

    // Add a change event listener to the first checkbox
    checkbox1.addEventListener("change", function () {
        // If checkbox1 is checked, uncheck checkbox2
        if (checkbox1.checked) {
            checkbox2.checked = false;
        }
         let  sum = 0
            for(var i = 1 ; i <= myLabel.value ; i++){
            var  count_value = document.getElementsByName("price"+i);
             sum = sum +parseInt( count_value[0].value )
             console.log(sum);
            }
             output_sum.value = sum


    });

    // Add a change event listener to the second checkbox
    checkbox2.addEventListener("change", function () {
        // If checkbox2 is checked, uncheck checkbox1
        if (checkbox2.checked) {
            checkbox1.checked = false;
        }
         let  sum = 0
            for(var i = 1 ; i <= myLabel.value ; i++){
            var  count_value = document.getElementsByName("price"+i);
             sum = sum +parseInt( count_value[0].value )
             console.log(sum);
            }
             output_sum.value = sum
    });

<!--     cal.addEventListener("click", function () {-->
<!--            let  sum = 0-->
<!--            for(var i = 1 ; i <= myLabel.value ; i++){-->
<!--            var  count_value = document.getElementsByName("price"+i);-->
<!--             sum = sum +parseInt( count_value[0].value )-->
<!--             console.log(sum);-->
<!--            }-->
<!--             output_sum.value = sum-->
<!--});-->

    createDivButton.addEventListener("click", function () {
        count++
        myLabel.value   = count
        // Create a new div element
        var newDiv = document.createElement("div");
        newDiv.className = "product_det"; // Optional: Apply a CSS class for styling

        // Create the
<!--        var drop1 = document.createElement("select");-->
<!--        var option1 = document.createElement("option");-->
<!--        {% for i in p %}-->
<!--        option1.value = "{{i}}";-->
<!--        option1.textContent = "{{i}}" ;-->
<!--        drop1.add(option1);-->
<!--        {% endfor %}-->



         var sub_variant = document.createElement("select");
         sub_variant.name = "sub_variant"+count
         console.log("hello")
         console.log(sub_variant.name)
            {% for i in product %}
                var option = document.createElement("option");
                option.text = "{{i.variant}}";
                sub_variant.add(option);
               {% endfor %}

          var variant = document.createElement("select");
          variant.name = "variant"+count
            {% for i in product %}
                var option = document.createElement("option");
                option.text = "{{i.sub_variant}}";
                variant.add(option);
               {% endfor %}

        var hsn = document.createElement("input");
        hsn.type = "text";
        hsn.name = "hsn_name"+count
        console.log("hsn_name"+count)
        hsn.placeholder = "HSN";

        var qty = document.createElement("input");
        qty.name = "qty"+count
        qty.type = "text";
        qty.placeholder = "Qty";

            var uom = document.createElement("select");
            uom.name = "uom"+count
            {% for i in uom %}
                var option = document.createElement("option");
                option.text = "{{i}}";
                uom.add(option);
               {% endfor %}


        var price = document.createElement("input");
        price.name = "price"+count
        price.type = "number";
        price.placeholder = "price";

        // Append the text input boxes to the div
        newDiv.appendChild(variant);
        newDiv.appendChild(sub_variant)
        newDiv.appendChild(hsn);
        newDiv.appendChild(qty);
        newDiv.appendChild(uom);
        newDiv.appendChild(price);





        // Append the new div to the container
        container.appendChild(newDiv);
    });
});

</script>